<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa klienta:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @client.nip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @client.desc %>
</p>

<br>

<h3>Zadania dotyczące klienta</h3>
<p>
<a href="<%=new_task_path(:client_id => @client)%>" class="btn btn-primary btn-sm">Dodaj zadanie</a>
</p>
<table class="table table-striped">
 <thead>
    <tr>
      <th>Tytuł</th>
      <th>Data wykonania</th>
      <th>Pokaż</th>
      <th>Edytuj</th>
      <th>Usuń</th>
      
    </tr>
  </thead>

  <tbody>
 <% @tasks.each do |task| %>
      <% if task.client_id == @client.id %>
      <tr>
        <td><%= task.created_at.to_s(:task_date)%></td>
        <td><%= task.description %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_entryitem_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
</table>

<br>




<h3>Notatki dotyczące klienta </h3>
<p>
<a href="<%=new_entryitem_path(:client_id => @client)%>" class="btn btn-primary btn-sm">Dodaj notatke</a>
</p>
 <table class="table table-striped">
 <thead>
    <tr>
      <th>Data</th>
      <th>Opis</th>
      <th>Pokaz</th>
      <th>Edytuj</th>
      <th>Usuń</th>
      
    </tr>
  </thead>

  <tbody>
 <% @entryitems.each do |entryitem| %>
      <% if entryitem.client_id == @client.id %>
      <tr>
        <td><%= entryitem.created_at.to_s(:entryitem_date)%></td>
        <td><%= entryitem.description %></td>
        <td><%= link_to 'Show', entryitem %></td>
        <td><%= link_to 'Edit', edit_entryitem_path(entryitem) %></td>
        <td><%= link_to 'Destroy', entryitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
</table>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
