<h1>Listing entryitems</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entryitems.each do |entryitem| %>
      <tr>
        <td><%= entryitem.description %></td>
        <td><%= link_to 'Show', entryitem %></td>
        <td><%= link_to 'Edit', edit_entryitem_path(entryitem) %></td>
        <td><%= link_to 'Destroy', entryitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entryitem', new_entryitem_path %>
