<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @deal.client %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @deal.headline %>
</p>

<p>
  <strong>Value:</strong>
  <%= @deal.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
