<%= form_for(@valuation) do |f| %>
  <% if @valuation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valuation.errors.count, "error") %> prohibited this valuation from being saved:</h2>

      <ul>
      <% @valuation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nazwa części</th>
      <th>Ilość</th>
      <th>Cena zakupu</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

     <%= f.fields_for :valuation_lines do |builder| %>
     <%= render 'valuation_line_fields', f: builder %>
     <% end %>

     
  </tbody>
</table>
<%= link_to_add_fields "Dodaj produkt", f, :valuation_lines %>


<div class="field">
<br>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
