      <tr>
            <td><%= f.text_field :part_name, class: "pole", data: {autocomplete_source: queryparts_path} %></td>
            <td><%= f.text_field :quantity %></td>
	        <td><%= f.text_field :purchase_price %></td>
	        <td><%= f.hidden_field :_destroy %>	<%= link_to "Usuń", '#', class: "remove_fields" %></td>
	  </tr>
